<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Initiator_CreateApplicationTransaction_Binding.2.3.0r2" />
                <binding name="Responder_CreateApplicationTransaction_Binding.2.3.0r2" />
                <binding name="Responder_DeclareDetermination_Binding.2.3.0r2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://example.xml.gov.au/CreateApplication_Initiator.2.3.0r2"
                binding="basicHttpBinding" bindingConfiguration="Initiator_CreateApplicationTransaction_Binding.2.3.0r2"
                contract="eDAIS.Initiator_CreateApplicationTransaction230r2"
                name="Initiator_CreateApplicationTransaction_Port.2.3.0r2" />
            <endpoint address="http://example.xml.gov.au/CreateApplication_Responder.2.3.0r2"
                binding="basicHttpBinding" bindingConfiguration="Responder_CreateApplicationTransaction_Binding.2.3.0r2"
                contract="eDAIS.Responder_CreateApplicationTransaction230r2"
                name="Responder_CreateApplicationTransaction_Port.2.3.0r2" />
            <endpoint address="http://example.xml.gov.au/DeclareDetermination_Responder.2.3.0r2"
                binding="basicHttpBinding" bindingConfiguration="Responder_DeclareDetermination_Binding.2.3.0r2"
                contract="eDAIS.Responder_DeclareDetermination230r2" name="Responder_DeclareDetermination_Port.2.3.0r2" />
        </client>
    </system.serviceModel>
</configuration>